.mdc-form-field > label {
  color: var(--gray-medium) !important;
}

mat-radio-button {
  border: 1px solid var(--gray-light);
  border-radius: 8px;
  padding: 2px 16px;

  &.mat-mdc-radio-checked {
    border: 1px solid var(--primary);

    label {
      color: var(--primary) !important;
    }
  }
}

.mat-mdc-radio-button
  .mdc-radio
  .mdc-radio__native-control:enabled:not(:checked)
  + .mdc-radio__background
  .mdc-radio__outer-circle {
  border-color: var(--gray-light) !important;
}

// disabled state
.mat-mdc-radio-button.mat-radio-disabled .mat-radio-label-content {
  color: var(--gray-medium) !important;
}

fieldset:disabled {
  mat-radio-button {
    background-color: var(--gray-dark) !important;
  }
}
