<div class="flex items-center justify-between">
  <div class="flex flex-col">
    <!-- select chart title -->
    <div class="text-lg text-wt-primary">{{ selectedChartFormControl.value.caption }}</div>
    <!-- date range -->
    <app-date-range-slider
      *ngIf="selectedChartFormControl.value.value !== 'PortfolioAssets'"
      class="w-[550px]"
      [displayUpperDate]="false"
      [formControl]="portfolioRangeControl"
    ></app-date-range-slider>
  </div>

  <!-- select chart type -->
  <app-form-mat-input-wrapper
    class="w-[350px]"
    [formControl]="selectedChartFormControl"
    inputCaption="Select Portfolio Type"
    inputType="SELECT"
    [inputSource]="dashboardChartOptionsInputSource"
  ></app-form-mat-input-wrapper>
</div>

<!-- portfolio growth -->
<ng-container *ngIf="selectedChartFormControl.value.value === 'PortfolioGrowth'">
  <app-portfolio-growth-chart
    *ngIf="portfolioGrowthChartSignal() as portfolioGrowthChartSignal"
    [data]="{
      values: portfolioGrowthChartSignal,
      startingCashValue: portfolioState.startingCash
    }"
    [heightPx]="500"
  ></app-portfolio-growth-chart>
</ng-container>

<!-- portfolio change -->
<ng-container *ngIf="selectedChartFormControl.value.value === 'PortfolioChange'">
  <app-portfolio-change-chart
    *ngIf="portfolioChangeChartSignal() as portfolioChangeChartSignal"
    [data]="portfolioChangeChartSignal"
    [heightPx]="500"
  ></app-portfolio-change-chart>
</ng-container>

<!-- portfolio assets -->
<ng-container *ngIf="selectedChartFormControl.value.value === 'PortfolioAssets'">
  <app-portfolio-asset-chart
    *ngIf="portfolioAssetsGrowthSignal() as portfolioAssetsGrowthSignal"
    [data]="portfolioAssetsGrowthSignal"
  ></app-portfolio-asset-chart>
</ng-container>
