<ng-container *ngIf="portfolioStateSignal() as portfolioState">
  <div class="flex flex-col gap-4 mx-auto mb-6 md:mb-12 xl:gap-10 md:flex-row 2xl:w-11/12">
    <app-fancy-card class="sm:basis-3/6" title="Account" [colorPrimary]="ColorScheme.PRIMARY_VAR">
      <app-portfolio-state
        [titleColor]="ColorScheme.PRIMARY_VAR"
        [valueColor]="ColorScheme.GRAY_LIGHT_VAR"
        [showCashSegment]="authenticationUserService.userData.settings.isPortfolioCashActive"
        [portfolioState]="portfolioState"
      ></app-portfolio-state>
    </app-fancy-card>

    <app-fancy-card title="Risk" [colorPrimary]="ColorScheme.SUCCESS_VAR">
      <app-portfolio-state-risk
        [titleColor]="ColorScheme.SUCCESS_VAR"
        [valueColor]="ColorScheme.GRAY_LIGHT_VAR"
      ></app-portfolio-state-risk>
    </app-fancy-card>

    <app-fancy-card title="Transactions" [colorPrimary]="ColorScheme.DANGER_VAR">
      <app-portfolio-state-transactions
        [titleColor]="ColorScheme.DANGER_VAR"
        [valueColor]="ColorScheme.GRAY_LIGHT_VAR"
        [showFees]="authenticationUserService.userData.settings.isPortfolioCashActive"
        [portfolioState]="portfolioState"
      ></app-portfolio-state-transactions>
    </app-fancy-card>
  </div>

  <!-- portfolio change -->
  <div class="mb-12 lg:px-10">
    <app-portfolio-period-change
      *ngIf="portfolioChangeSignal() as portfolioChange"
      [portfolioChange]="portfolioChange"
    ></app-portfolio-period-change>
  </div>

  <!-- dashboard charts -->
  <div class="mb-8">
    <app-dashboard-portfolio-charts [portfolioState]="portfolioState"></app-dashboard-portfolio-charts>
  </div>

  <!-- holdings pie charts -->
  <div class="flex justify-around mb-10 overflow-x-clip">
    <app-generic-chart
      *ngIf="portfolioAssetAllocation() as portfolioAssetAllocation"
      chartTitle="Asset Allocation"
      [heightPx]="380"
      [showDataLabel]="true"
      chartTitlePosition="center"
      [series]="[portfolioAssetAllocation]"
    ></app-generic-chart>
    <app-generic-chart
      *ngIf="portfolioSectorAllocation() as portfolioSectorAllocation"
      [heightPx]="380"
      chartTitle="Sector Allocation"
      [showDataLabel]="true"
      chartTitlePosition="center"
      [series]="[portfolioSectorAllocation]"
    ></app-generic-chart>
  </div>

  <!-- holding -->
  <div class="mb-8">
    <app-general-card title="Holdings" titleScale="large" matIcon="show_chart">
      <app-portfolio-holdings-table
        (symbolClicked)="onSummaryClick($event)"
        [holdings]="portfolioState.holdings"
        [holdingsBalance]="portfolioState.holdingsBalance"
      ></app-portfolio-holdings-table>
    </app-general-card>
  </div>

  <!-- transactions chart -->
  <app-portfolio-transaction-chart
    *ngIf="portfolioTransactionToDateSignal() as portfolioTransactionToDateSignal"
    [data]="portfolioTransactionToDateSignal"
  ></app-portfolio-transaction-chart>
</ng-container>
