<div *ngIf="portfolioStateSignal() as portfolioState" class="grid gap-4 mb-8 sm:grid-cols-3">
  <app-fancy-card title="Account State" [colorPrimary]="ColorScheme.ACCOUNT_STATE">
    <app-portfolio-state
      classes="grid gap-4 sm:grid-cols-2"
      [titleColor]="ColorScheme.ACCOUNT_STATE"
      [valueColor]="ColorScheme.GRAY_LIGHT_VAR"
      [showCashSegment]="authenticationUserService.userData.settings.isPortfolioCashActive"
      [portfolioState]="portfolioState"
    ></app-portfolio-state>
  </app-fancy-card>

  <app-fancy-card title="Account State" [colorPrimary]="ColorScheme.ACCOUNT_STATE">
    <app-portfolio-state
      [titleColor]="ColorScheme.ACCOUNT_STATE"
      [showCashSegment]="authenticationUserService.userData.settings.isPortfolioCashActive"
      [portfolioState]="portfolioState"
    ></app-portfolio-state>
  </app-fancy-card>

  <app-fancy-card title="Account State" [colorPrimary]="ColorScheme.ACCOUNT_STATE">
    <app-portfolio-state
      [titleColor]="ColorScheme.ACCOUNT_STATE"
      [showCashSegment]="authenticationUserService.userData.settings.isPortfolioCashActive"
      [portfolioState]="portfolioState"
    ></app-portfolio-state>
  </app-fancy-card>
</div>

<!-- portfolio change -->
<div class="mb-8 lg:px-10">
  <app-portfolio-period-change
    *ngIf="portfolioChangeSignal() as portfolioChange"
    [portfolioChange]="portfolioChange"
  ></app-portfolio-period-change>
</div>

<!-- charts -->
<div>
  <app-portfolio-growth-chart [data]="[]"></app-portfolio-growth-chart>
</div>

<!-- holdings pie charts -->
<div class="flex justify-around">
  <app-generic-chart
    *ngIf="portfolioAssetAllocation() as portfolioAssetAllocation"
    chartTitle="Asset Allocation"
    class="h-[200px]"
    chartTitlePosition="center"
    [series]="[portfolioAssetAllocation]"
  ></app-generic-chart>
  <app-generic-chart
    *ngIf="portfolioSectorAllocation() as portfolioSectorAllocation"
    class="h-[200px]"
    chartTitle="Sector Allocation"
    chartTitlePosition="center"
    [series]="[portfolioSectorAllocation]"
  ></app-generic-chart>
</div>
