<div *ngIf="marketTopPerformanceSignal() as marketOverview; else stockSummaryTableSkeleton" class="grid pt-20 gap-y-14">
  <div>
    <app-stock-summary-table
      tableTitle="Top Active Stocks"
      (itemClickedEmitter)="onSummaryClick($event)"
      [stockSummaries]="marketOverview.stockTopActive"
    ></app-stock-summary-table>
  </div>

  <div>
    <app-stock-summary-table
      tableTitle="Top Gainer Stocks"
      (itemClickedEmitter)="onSummaryClick($event)"
      [stockSummaries]="marketOverview.stockTopGainers"
    ></app-stock-summary-table>
  </div>

  <div>
    <app-stock-summary-table
      tableTitle="Top Losers Stocks"
      (itemClickedEmitter)="onSummaryClick($event)"
      [stockSummaries]="marketOverview.stockTopLosers"
    ></app-stock-summary-table>
  </div>
</div>

<!-- loading screen -->
<ng-template #stockSummaryTableSkeleton>
  <div class="grid pt-28 gap-y-14">
    <div *ngRange="3">
      <div *ngRange="15" class="h-12 mb-1 g-skeleton"></div>
    </div>
  </div>
</ng-template>
