/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

// custom material scss
@import './theme/custom-material';
@import './theme/global.scss';
@import './theme/variables.scss';

// fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: var(--background-dashboard);
}
