<div class="mb-10 text-lg">loading: {{ loadingSignal() }}</div>

<div class="grid gap-y-6" *ngIf="stockDetailsSignal() as stockDetailsSignal">
  <div class="grid lg:grid-cols-3 gap-x-6 gap-y-4">
    <!-- rating table -->
    <app-general-card title="Rating">
      <app-stock-rating-table [data]="companyRatingSignal()"></app-stock-rating-table>
    </app-general-card>

    <!-- recommendation -->
    <app-general-card title="Recommendation">
      <app-stock-recommendation
        [heightPx]="363"
        [data]="stockDetailsSignal.recommendationTrends"
      ></app-stock-recommendation>
    </app-general-card>

    <!-- return on something -->
    <app-general-card title="Return on">
      <app-generic-chart
        chartType="column"
        [heightPx]="363"
        [showTooltipHeader]="false"
        [series]="[
          {
            colorByPoint: true,
            additionalData: {
              colorTooltipDefault: true,
              showPercentageSign: true,
            },
            data: [
              { name: 'Equity', y: stockDetailsSignal.ratio.returnOnEquityTTM * 100 },
              { name: 'Assets', y: stockDetailsSignal.ratio.returnOnAssetsTTM * 100 },
              { name: 'Tangible Assets', y: stockDetailsSignal.companyKeyMetricsTTM.returnOnTangibleAssetsTTM * 100 },
              { name: 'Capital Employed', y: stockDetailsSignal.ratio.returnOnCapitalEmployedTTM * 100 },
              { name: 'Invested Capital', y: stockDetailsSignal.companyKeyMetricsTTM.roicTTM * 100 },
            ]
          }
        ]"
        [showDataLabel]="true"
      >
      </app-generic-chart>
    </app-general-card>
  </div>

  <div class="flex flex-col gap-6 md:flex-row">
    <!-- esg quarterly -->
    <app-general-card title="ESG data" class="md:basis-2/3" additionalClasses="h-full">
      <app-stock-esg-data-table
        [data]="stockDetailsSignal.esgDataQuarterlyArray | slice : 0 : 8"
      ></app-stock-esg-data-table>
    </app-general-card>

    <!-- esg yearly -->
    <app-general-card title="ESG data" class="md:basis-1/3">
      <div
        *ngFor="let data of stockDetailsSignal.esgDataRatingYearlyArray; let last = last"
        class="flex justify-between p-3"
        [ngClass]="{ 'g-border-bottom': !last }"
      >
        <div>{{ data.year }}</div>
        <div class="space-x-2">
          <span class="text-wt-gray-medium">{{ data.industryRank }}</span>
          <span> ({{ data.ESGRiskRating }})</span>
        </div>
      </div>
    </app-general-card>
  </div>

  <div>
    <app-general-card title="Insider trades">
      <app-stock-insider-trades [data]="stockDetailsSignal.companyOutlook.insideTrades"></app-stock-insider-trades>
    </app-general-card>
  </div>
</div>
