<ng-container *ngIf="groupDetailsSignal() as groupDetailsSignal">
  <div class="flex flex-col justify-between mb-6 lg:flex-row">
    <!-- group info -->
    <app-group-display-info
      [clickableOwner]="true"
      [imageHeightPx]="150"
      [groupData]="groupDetailsSignal.groupData"
    ></app-group-display-info>

    <!-- portfolio info -->
    <app-portfolio-state
      [titleColor]="ColorScheme.PRIMARY_VAR"
      [valueColor]="ColorScheme.GRAY_MEDIUM_VAR"
      [showCashSegment]="true"
      [portfolioState]="groupDetailsSignal.groupData.portfolioState"
    ></app-portfolio-state>

    <!-- portfolio chart -->
    <div class="-mt-10 w-[420px] hidden xl:block">
      <app-portfolio-balance-pie-chart
        [heightPx]="260"
        [data]="groupDetailsSignal.groupData.portfolioState"
      ></app-portfolio-balance-pie-chart>
    </div>
  </div>

  <!-- divider -->
  <div class="pt-4 mb-8">
    <mat-divider></mat-divider>
  </div>

  <!-- portfolio change -->
  <div class="mb-12 lg:px-10">
    <app-portfolio-period-change
      *ngIf="portfolioChangeSignal() as portfolioChange"
      [portfolioChange]="portfolioChange"
    ></app-portfolio-period-change>
  </div>

  <!-- divider -->
  <div class="pb-4">
    <mat-divider></mat-divider>
  </div>

  <app-portfolio-growth-chart
    *ngIf="portfolioGrowthSignal() as portfolioGrowthChartSignal"
    [showOnlyTotalBalance]="true"
    [data]="{
      values: portfolioGrowthChartSignal,
      startingCashValue: groupDetailsSignal.groupData.portfolioState.startingCash
    }"
    [heightPx]="425"
  ></app-portfolio-growth-chart>

  <!-- invitations -->
  <app-group-invitations-manager
    [groupData]="groupDetailsSignal"
    [memberRequestUsers]="memberRequestedUsersSignal()"
    [memberInvitedUsers]="memberInvitedUsersSignal()"
  ></app-group-invitations-manager>

  <!-- member -->
  <div class="grid gap-4">
    <div class="text-lg text-wt-primary">
      Members [{{ groupDetailsSignal.groupData.memberUserIds.length }} / {{ GROUP_MEMBER_LIMIT }}]
    </div>
    <div class="grid grid-cols-2 gap-x-6 gap-y-4">
      @for (user of groupDetailsSignal.groupMembersData.data; track user.id) {
      <app-position-card
        (clickedEmitter)="onMemberClick(user)"
        [clickable]="true"
        [currentPositions]="user.position.currentGroupMemberPosition"
        [previousPosition]="user.position.previousGroupMemberPosition"
      >
        <app-user-display-item [userData]="user"></app-user-display-item>
      </app-position-card>
      }
    </div>
  </div>
</ng-container>
