<div>Stock News</div>

<div class="grid md:grid-cols-2 xl:grid-cols-7 gap-x-10 gap-y-4">
  <!-- favorite stocks -->
  <div class="xl:col-span-2">
    <app-stock-summary-item-table
      tableTitle="Favorite Stocks"
      (summaryClickEmitter)="onSummaryClick($event)"
      [showSkeleton]="(isStockSummaryLoaded$ | async) === false"
      [stockSummaries]="favoriteStocks$ | async"
    ></app-stock-summary-item-table>
  </div>

  <div class="md:col-span-2 xl:col-span-3 max-xl:order-first">
    <h1 class="text-center">Search Stock</h1>
    <app-stock-basic-search [formControl]="searchControl"></app-stock-basic-search>
  </div>

  <!-- Last searched stocks -->
  <div class="xl:col-span-2">
    <app-stock-summary-item-table
      tableTitle="Last Searched Stocks"
      (summaryClickEmitter)="onSummaryClick($event)"
      [showSkeleton]="(isStockSummaryLoaded$ | async) === false"
      [stockSummaries]="searchedStocks$ | async"
    ></app-stock-summary-item-table>
  </div>
</div>

<div *ngIf="marketOverview$ | async as marketOverview">
  <app-stock-summary-table [stockSummaries]="marketOverview.stockTopActive"></app-stock-summary-table>
</div>
