<!-- chart -->
<div class="w-full mb-10">
  <app-generic-chart
    [series]="selectedChartDataSignal()"
    [heightPx]="400"
    [showTimelineSlider]="true"
    [enableLegendTogging]="true"
    [showLegend]="true"
    [showLegendLatestValue]="true"
  ></app-generic-chart>
</div>

<!-- options -->
<div class="columns-2">
  <div *ngFor="let section of MARKET_OVERVIEW_DATA" class="inline-block mb-6">
    <h2 class="mb-0 text-lg text-wt-gray-dark">{{ section.name }}</h2>
    <div class="flex flex-wrap items-center gap-x-2">
      <button
        *ngFor="let data of section.data"
        (click)="onDataClick(section.key, data.subKey, data.name)"
        mat-button
        type="button"
        [color]="(selectedSubKeysSignal() | inArray : data.subKey) ? 'primary' : ''"
        class="text-sm"
      >
        {{ data.name }}
      </button>
    </div>
  </div>
</div>
