<div class="flex justify-between w-full mb-6 md:pt-10">
  <div class="flex items-center gap-3">
    <mat-icon color="primary">group</mat-icon>
    <span class="text-xl text-wt-primary">Groups</span>
  </div>

  <div class="flex items-center gap-6">
    <!-- search groups -->
    <app-group-search-control [formControl]="searchGroupControl" class="w-[450px] hidden lg:block" />
    <!-- create new group -->
    <div [matTooltip]="isCreateGroupDisabledSignal() ? errorMessageGroupCreate : ''">
      <button
        [disabled]="isCreateGroupDisabledSignal()"
        mat-stroked-button
        type="button"
        color="primary"
        (click)="onCreateGroupClick()"
      >
        <mat-icon>add</mat-icon>
        create group
      </button>
    </div>
  </div>
</div>

<ng-container *ngIf="groupsSignal() as groups">
  <!-- invitations -->
  <!-- <div *ngIf="groups.groupInvitations.length > 0" class="mb-4">
    <h2>Received Invitation</h2>
    <div *ngFor="let group of groups.groupInvitations">
      <app-general-card>
        <app-group-display-item
          (acceptClickEmitter)="onAcceptInvitationClick(group)"
          (declineClickEmitter)="onDeclineInvitationClick(group)"
          [groupData]="group"
        ></app-group-display-item>
      </app-general-card>
    </div>
  </div> -->
  TODO display received and sent invitations

  <!-- my groups -->
  <div *ngIf="groups.groupOwner.length > 0" class="m-auto mb-4 xl:w-11/12">
    <h2>My Groups</h2>
    <div class="flex flex-col gap-3">
      <app-group-display-card
        *ngFor="let group of groups.groupOwner"
        (groupClickEmitter)="onGroupClick(group)"
        [groupData]="group"
      ></app-group-display-card>
    </div>
  </div>

  <!-- member of -->
  <div *ngIf="groups.groupMember.length > 0" class="m-auto mb-4 xl:w-11/12">
    <h2>Member of</h2>
    <div class="flex flex-col gap-3">
      <app-group-display-card
        *ngFor="let group of groups.groupMember"
        (groupClickEmitter)="onGroupClick(group)"
        [groupData]="group"
      ></app-group-display-card>
    </div>
  </div>
</ng-container>
