<div class="flex justify-between w-full md:pt-10">
  <div class="flex items-center gap-3">
    <mat-icon color="primary">group</mat-icon>
    <span class="text-xl text-wt-primary">Groups</span>
  </div>

  <button mat-stroked-button type="button" color="primary" (click)="onCreateGroupClick()">
    <mat-icon>add</mat-icon>
    create group
  </button>
</div>

<!-- my groups -->
<h2>My Groups</h2>
<div></div>

<div class="text-2xl">DISPLAY GROUPS!</div>

<!-- member of -->
<h2>Member of Groups</h2>
<div></div>

<!-- watched groups -->
<h2>Watched Groups</h2>
<div></div>
