@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */ // custom material scss
@import '../../../styles/src/lib/custom-material';
@import '../../../styles/src/lib/global.scss';
@import '../../../styles/src/lib/variables.scss';

// fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: system-ui, Poppins, sans-serif;
  background-color: var(--background-dashboard);
  color: var(--gray-medium);
}
