@use '../../../styles/src/lib/custom-material';
@use '../../../styles/src/lib/global.scss';
@use '../../../styles/src/lib/variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Prociono:400,700');
/* You can add global styles to this file, and also import other style files */ // custom material scss

body {
  height: 100%;
  scroll-behavior: smooth;
  margin: 0;
  font-family: system-ui;
  background-color: var(--background-dashboard);
  color: var(--gray-medium);
}

body.marketing-styles {
  font-family: Prociono, sans-serif !important;
}
