<section class="pt-16 mb-10">
  <app-stock-screener-form [formControl]="screenerFormControl"></app-stock-screener-form>
</section>

<!-- table of results -->
<ng-container *ngIf="!loadingSignal()">
  <ng-container *ngIf="screenerResults() as screenerResults">
    <h3>Total found: {{ screenerResults.length }}</h3>

    <section class="mt-6">
      <app-stock-summary-table
        appScrollNearEnd
        (nearEnd)="onNearEndScroll()"
        (itemClickedEmitter)="onSummaryClick($event)"
        [stockSummaries]="screenerResults | slice : 0 : maxScreenerResults()"
      ></app-stock-summary-table>
    </section>
  </ng-container>
</ng-container>

<!-- loading screen -->
<div *ngIf="loadingSignal()" class="mt-12">
  <div *ngRange="20" class="mb-1 h-14 g-skeleton"></div>
</div>
