<nav class="flex justify-center gap-4 pt-5 text-wt-gray-light">
  <a [routerLink]="ROUTES_TOP_LEVEL.SEARCH" routerLinkActive="is-active">Search</a>
  <a [routerLink]="ROUTES_TOP_LEVEL.STOCK_SCREENER" routerLinkActive="is-active">Screener</a>
  <a [routerLink]="ROUTES_TOP_LEVEL.TOP_PERFORMERS" routerLinkActive="is-active">Top Performers</a>
  <a [routerLink]="ROUTES_TOP_LEVEL.MARKET" routerLinkActive="is-active">Market</a>
  <a [routerLink]="ROUTES_TOP_LEVEL.CRYPTO" routerLinkActive="is-active">Crypto</a>
</nav>

<router-outlet></router-outlet>
