<mat-drawer-container autosize class="h-full">
  <!-- side nav -->
  <mat-drawer
    [mode]="isSmallScreenSignal() ? 'over' : 'side'"
    [opened]="true"
    class="w-2/12 min-w-[275px]"
    role="navigation"
    (closed)="toggleMatDrawerExpandedView()"
  >
    <app-menu-side-navigation></app-menu-side-navigation>
  </mat-drawer>

  <mat-drawer-content>
    <div class="px-10 pt-6 c-content-wrapper">
      <!-- content -->
      <router-outlet></router-outlet>
      <!-- footer for additional space on bottom -->
      <footer class="w-full h-12"></footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
