:root {
  --screen-max-width: 1620px;

  /* primary */
  --primary: #0e71c3;

  /* success */
  --success: #03aa06;

  /* danger */
  --danger: #d42626;

  /* gray */
  --gray-dark: #282828;
  --gray-medium: #636262;
  --gray-light: #878787;

  /* table */
  --table-hover: #99999955;
  --table-border: #d0d0d0;

  /* background */
  --background-dark-super: #252525;
  --background-dark: #696969;
  --background-medium: #e3e2e2;
  --background-light: #f8f8f8;
  --background-light-super: #f2f2f2;

  --background-dashboard: #ffffff;
  --background-dialog: #f8f8f8;

  --disable-default: #3e5156;
}

:root .dark-theme {
  /* primary */
  --primary: #12aaaa;

  /* success */
  --success: #25b329;

  /* danger */
  --danger: #d42626;

  /* gray */
  --gray-dark: #818690;
  --gray-medium: #9ca3af;
  --gray-light: #dcdcdc;

  /* table */
  --table-hover: #01383855;
  --table-border: #002424;

  /* background */
  --background-dark: #031e1e;
  --background-medium: #013838;
  --background-light: #064d4d;
  --background-light-super: #f2f2f2;

  --background-dashboard: linear-gradient(
    168.19deg,
    #000607 1.34%,
    #000808 1.35%,
    #031b1b 33.36%,
    #021a1a 52.32%,
    #030000 98.93%
  );

  --disable-default: #3e5156;
}
